.container {
  margin: 5% 50% 5% 5%;
  width: 40%;
  background-color: rgb(243, 243, 243);
}
.btn {
  width: 40%;
  margin: 10% 0% 0% 50%;
}
.sign-text {
  margin-top: 30px;
  font-size: 50px;
}
.text {
  margin-top: 30px;
}
#first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.image {
  float: right;
  text-align: right;
}
