.container {
  margin: 5% 50% 5% 5%;
  width: 40%;
  background-color: rgb(243, 243, 243);
}
.btn {
  width: 20%;
  margin-left: 50%;
}
.sign-text {
  margin-top: 30px;
  font-size: 50px;
}
.text {
  margin-top: 30px;
}
